body {
    font-size: 1.25rem;
}
.btn, input, button{
    font-size: 14px;
}
.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}
.navbar {
    .navbar-brand {
        color: $white !important;
    }
}
.btn-secondary {
    color: #FFFFFF !important;
}
/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    background-color: #494E54;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    color: #FFF;
    border-bottom: 1px solid #494E54;
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.card-header {
    margin: 0;
    h3 {
        font-size: 14px;
        margin: 0;
        line-height: 30px;
        font-weight: bold;
    }
}

.checkbox-group {
    input {
        margin: 4px 0 0 4px;
    }
}


.filtering {
    border: 1px solid #acacac;
    background: #343A40;
    padding: 10px;
    span {
        line-height: 36px;
        color: #FFFFFF;
        width: 100px;
        float: left;
    }
    input {
        width: calc(100% - 100px) !important;
    }
}

.ReactTable .rt-th, .ReactTable .rt-td {
    overflow: visible;
}

.navbar.main {
    margin: 0;
}
.fade.in {
    opacity: 1;
}
.mt-20 {
    margin-top: 20px;
}
.mr-20 {
    margin-right: 20px;
}

.top-nav-button {
    line-height: 50px;
    margin: 0 20px;
    font-size: 16px;
    color: #FFF;
}

@media (max-width: 768px) {
    .left-sidebar {
        align-items: start;
        width: 100%;
        > div.container {
            width: 100%;
            display: block;
            flex-direction: row;
        }
    }
}

.left-sidebar {
    > .container {
        margin: 0 !important;
        padding: 0 !important;
    }
    .navbar-collapse {
        margin: 0 5px !important;
        padding: 0 !important;
        width: 100%;
    }
    h4 {
        margin-top: 20px;
    }
    .nav {
        width: 100%;
        li {
            a {
                font-size: 14px;
                padding: 5px 0;
            }
        }
        .nav-link {
            color: #000;
        }
    }
}
